<div class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<hr class="section-heading-spacer">
				<div class="clearfix  text-center"></div>
				<h2 class="section-heading">Rocher FM et Médias Sociaux</h2>
			</div>
			<div class="col-sm-4">
				<h3>Ecoutez Rocher FM</h3>
				<script src="//prod-player-250.zenoradio.com/widget/load/?did=17001011309&autoplay=1&width=400&height=300"></script>
			</div>
			<div class="col-sm-4">
				<h3>Notre Stream Facebook</h3>
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Feglisesurlerocherhaiti%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=660174524061413" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>
			<div class="col-sm-4">
				<h3>Notre Stream Twitter</h3>
				<a class="twitter-timeline" href="https://twitter.com/EgliseRocher509">Tweets by EgliseRocher509</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>			</div>
		</div>

	</div>
	<!-- /.container -->

</div>