<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ site.name }}</h1>
                    <h3>{{ site.slogan }}</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                      {% include social.html %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
